terraform
.terraform
#.terraform.*
test2_git_ignore
.ansible-retry
aws_hosts

# course .gitignore
# .gitignore

# misc
*.pem

# Local .terraform directories
**/.terraform/*

# .tfstate files
# we don't have these right now because terraform state is backed up to terraform cloud
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ansible
*.retry